html, body {
	background-color: rgb(45,45,55);
	height: 100%;
    margin: 0;
}

h1 {	
	font-size: 4.5em;
	margin-block-start:0.2em;
	margin-block-end:0.6em;
	font-family: 'Roboto', sans-serif;
	color: rgb(222,222,245);
}

h2 {	
	font-size: 3.0em;
	margin-block-start:0.2em;
	margin-block-end:0.5em;
	font-family: 'Roboto', sans-serif;
	color: rgb(222,222,245);
}

h3 {	
	font-size: 2.0em;
	margin-block-start:0.2em;
	margin-block-end:0.45em;
	font-family: 'Roboto', sans-serif;
	color: rgb(222,222,245);
}

h4 {
	font-size:1.5em;
	margin-block-start:0.3em;
	margin-block-end:0.4em;
	font-family: 'Roboto', sans-serif;
	color: rgb(222,222,245);
}

h5 {
	font-size:1.10em;
	margin-block-start:0.2em;
	margin-block-end:0.2em;
	font-family: 'Roboto', sans-serif;
	color: rgb(222,222,245);
}

h6 {
	font-size:1.0em;
	margin-block-start:0.2em;
	margin-block-end:0.2em;
	font-family: 'Roboto', sans-serif;
	color: rgb(222,222,245);
}

p {
	font-size:1.5em;
	margin-block-start:0.3em;
	margin-block-end:0.5em;
	font-family: 'Roboto', sans-serif;
	color: rgb(232,232,245);
}

a {
	font-size:1.0em;
	margin-block-start:0.3em;
	margin-block-end:0.3em;
	font-family: 'Roboto', sans-serif;
	color: rgb(122,122,245);
}

.topnav {
    background-color: #252525;
    overflow: hidden;
}

.topnav img {
    float: left;
    padding: 16px 20px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #45C0E6;
}

.topnav a.active {
    background-color: #008fc1;
}

.grid-container {
  display: grid;
  grid-template-areas: "post-1 post-1 post-1 post-1"
                       "post-2 post-2 post-3 post-3"
                       "post-2 post-2 post-3 post-3"
                       "post-4 post-4 post-4 post-4"
                       "post-4 post-4 post-4 post-4";
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.grid-container a {
	text-decoration: none;
	border-radius: 5px;
	color: #ffffff;
	margin-bottom: 25px;
	padding: 10px 14px 10px 10px;
	position: relative;
	box-shadow: 0px 1px 5px #0ff;
	white-space: nowrap;
}

.post-1 {
	grid-area: post-1;
	text-align: center;
}

.post-2 {           
	grid-area: post-2;
	font-size: 17px;
	text-align: center;
	padding: 10px;
}

.post-3 {           
	grid-area: post-3;
	font-size: 17px;
	text-align: center;
	padding: 10px;
}

.post-4 {           
	grid-area: post-4;
	font-size: 17px;
	text-align: center;
	padding: 20px;
}

b {
	color: #008fc1;
}

.popup {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	display: none;
	background-color: rgb(45,45,55);
}