body {
    background-color: #2d2d37;
    font-family: 'Roboto', 'sans-serif';
    color: #dedef5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header404 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, cursive;
    font-size: 60px;
    color: #dedef5;
}

.content404 {
    text-align: center;
}

a {
    color: #008fc1;
    text-decoration: none;
}