@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    font-family: "Roboto", sans-serif;
    background: #171717;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: alias;
}

.navbar {
    float: right;
    background: #1e1e1e;
    border-radius: 30px;
}

.navbar a {
  transition: 0.3s;
  text-decoration: none;
	border-radius: 30px;
	text-align: center;
	padding: 15px 15px;
  font-family: 'Poppins', sand-serif;
  font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.1em;
	color: #888888;
	float: left;
	max-width: 10;
}

.navbar a:hover {
 background-color: #45c0e6;
	color: white;
}

.navbar a.active {
    color: #0e66ba;
}

.navbar a.download {
    color:#0e66ba;
    background: #192f41;
}

.navbar a.download:hover {
  color: #83daff;
}

.topbar img{
 float: left;
}

.name{
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.centerdiv {
    text-align: center;
    animation: TransitionIn 1s;
}

.cb {
    border: 2px solid #333333;
    background: #111111;
    border-radius: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cb b {
    color: #0e66ba;
}

.name {
  animation: TextAnimation 1.7s infinite alternate;
}

h2 {
   font-family: 'Poppins', sand-serif;
}

p {
  font-size: 25px;
  opacity: 0.6;
}

@keyframes TransitionIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes TextAnimation {
  from {
    color: ;
    opacity: 0;
  }
  
  to {
    color: ;
    opacity: 1;
  }
}