@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    font-family: "Roboto", sans-serif;
    background: #181818;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.mainDownloadButton {
  font-size: 40px;
  justify-content: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  background: #4a4a4a2e;
  border-radius: 60px;
  color: #ffffff;
  font-family: "Poppins", sand-serif;
}

.navbar {
    float: right;
    background: #1e1e1e;
    border-radius: 30px;
}

.navbar a {
  transition: 0.3s;
  text-decoration: none;
	border-radius: 30px;
	text-align: center;
	padding: 15px 15px;
  font-family: 'Poppins', sand-serif;
  font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.1em;
	color: #888888;
	float: left;
	max-width: 10;
}

.navbar a:hover {
	color: white;
}

.navbar a.active {
    color: #0e66ba;
}

.navbar a.download {
    color:#0e66ba;
    background: #192f41;
}

.navbar a.download:hover {
  color: #83daff;
}
.downloadButton {
  transition: 0.3s;
  background: #192f41;
  padding: 18px 18px;
  border-radius: 17px;
  color: #83daff;
}
.downloadButton a {
  transition: 0.3s;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: 'Poppins', sand-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.1em;
  float: center;
  max-width: 10;
}
.downloadButton a:hover{
  color: white;
}
.downloadButton a.active {
    color: #0e66ba;
}


.downloadButton:hover {
  background: #0e66ba;
  color: white;
}

.downloadButton:active {
  background: #0e66ba;
  color: white;
}


.topbar img{
 float: left;
}

.name{
    float: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;

}

.centerdiv {
    text-align: center;
    animation: TransitionIn 1s;
}

.cb {
    border: 2px solid #333333;
    background: #111111;
    border-radius: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cb b {
    color: #0e66ba;
}

.name {
  animation: TextAnimation 1.7s infinite alternate;
}

h2 {
   font-family: 'Poppins', sand-serif;
}

p {
  font-family: 'Poppins', sand-serif;
}
footer {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 3px;
  color: rgb(100, 100, 100);
}
.images {
  justify-content: center;
  border-radius: 10px;
}
.overlapA {
  position: relative;
  left: -200px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  outline: 4px solid #111111;
}
.overlapB{
  position: relative;
  top: -100px;
  left: 200px;
  border-radius: 30px;
  justify-content: center;
  outline: 4px solid #111111;
}
hr {
  border: 1px solid rgb(100, 100, 100);
}
@keyframes TransitionIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes TextAnimation {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}