dl {
	margin-top: 1em;
	margin-bottom: 1em;
}
a {
	text-decoration: none;
	border-radius: 5px;
	color: #ffffff;
	margin-bottom: 25px;
	padding: 10px 14px 10px 10px;
	position: relative;
	box-shadow: 0px 1px 5px #0ff;
}
.box {
	background-color: #252525;
	border-radius: 5px;
	font-size: 16px;
	padding: 15px;
	margin-bottom: 15px;
	max-width: 100%;
	flex: 0 0 25%;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px dotted #008fc1;
}
dd {
	margin-bottom: 30px;
}
body{
	margin: 5px;
}
